<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/siteless")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/fontawesome")
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <div class="sidebar-content">
                <div class="navcontainer">
                    <h1><a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a></h1>
                    <h1><a target="_blank" href="https://github.com/adryanf"><i class="fa fa-github-square"></i></a></h1>
                    <h1><a target="_blank" href="https://www.hackerrank.com/adryan_gabryel"><i class="fa fa-file-code-o"></i></a></h1>
                    <h1><a target="_blank" href="https://www.linkedin.com/pub/adrian-furculita/61/305/49b"><i class="fa fa-linkedin-square"></i></a></h1>
                    
                </div>
                <div class="side-nav-sum">
                    <h1 class="name-header">Adrian-Gabriel Furculita </h1>
                    <h3>Principal engineer @@Riverbed technology</h3>
                    <div class="nav-section">
                        <h4><i class="fa fa-envelope"></i> adryan.gabryel@@rocketmail.com</h4>
                        <h4><i class="fa fa-skype"></i> adryanfg</h4>
                        <h4><i class="fa fa-phone"></i> +40742693503</h4>
                        <div class="print-nav">
                            <h4><a target="_blank" href="https://github.com/adryanf"><i class="fa fa-github-square"></i> Github</a></h4>
                            <h4><a target="_blank" href="https://www.hackerrank.com/adryan_gabryel"><i class="fa fa-file-code-o"></i> HackerRank</a></h4>
                            <h4><a target="_blank" href="https://www.linkedin.com/pub/adrian-furculita/61/305/49b"><i class="fa fa-linkedin-square"></i> Linkedin</a></h4>
                        </div>
                    </div>

                    <div class="nav-section" id="site-nav">
                        <h4 class="nav-header"><a class="section-anchor" href="#summary">Summary <i class="fa fa-check-square-o"></i></a></h4>

                        <h4 class="nav-header"><a class="section-anchor" href="#education">Education <i class="fa fa-book"></i></a></h4>

                        <h4 class="nav-header"><a class="section-anchor" href="#experience">Experience <i class="fa fa-cogs"></i></a></h4>

                        <h4 class="nav-header"><a class="section-anchor" href="#skills">Skills <i class="fa fa-code"></i></a></h4>
                    </div>
                </div>

            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        function getInternetExplorerVersion()
            // Returns the version of Internet Explorer or a -1
            // (indicating the use of another browser).
        {
            var rv = -1; // Return value assumes failure.
            if (navigator.appName == 'Microsoft Internet Explorer') {
                var ua = navigator.userAgent;
                var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
                if (re.exec(ua) != null)
                    rv = parseFloat(RegExp.$1);
            }
            return rv;
        }

        function checkIEVersion() {
            var ver = getInternetExplorerVersion();

            if (ver > -1) {
                return true;
            }
            return false;
        }
        //Scroll effect
        $('a.section-anchor').unbind('click').click(function (event) {
            var $anchor = $(this);

            if (checkIEVersion()) {
                scrollToAreaIE($anchor.attr('href'), 800, 0);
            }
            else {
                scrollToArea($anchor.attr('href'), 800, 0);
            }
            event.preventDefault();
        });

        function scrollToArea(areaId, time, verticalOffset) {
            verticalOffset = typeof (verticalOffset) != 'undefined' ? verticalOffset : 0;
            var offset = $(areaId).offset();
            var offsetTop = offset.top + verticalOffset;

            $("html, body").bind("scroll mousedown DOMMouseScroll mousewheel keyup", function () {
                $('html, body').stop();
            });


            $('html, body').stop(true, true).animate({
                scrollTop: offsetTop
            }, time, 'easeInOutExpo', function () {
                $("html, body").unbind("scroll mousedown DOMMouseScroll mousewheel keyup");
            });
        }

        function scrollToAreaIE(areaId, time, verticalOffset) {
            verticalOffset = typeof (verticalOffset) != 'undefined' ? verticalOffset : 0;
            var offset = $(areaId).offset();
            var offsetTop = offset.top + verticalOffset;

            $('html, body').stop(true, true).animate({
                scrollTop: offsetTop
            }, time, 'easeInOutExpo');
        }
    </script>
</body>
</html>
